<%= render 'my/menu' %>
<h1>
  <%= current_user.first_name%> <%= current_user.last_name %>'s Dashboard
</h1>

<%# This is a the data that will be used for the dasboard "menu" navbar  %>
<div class="bookings-card">
  <h2>Upcoming lessons</h3>
  
   <div class="booking">
      <p><strong><%= current_user.bookings.first.lesson.user.first_name %>
        <%= current_user.bookings.first.lesson.user.last_name %></strong></p>
      <p><%= current_user.bookings.first.lesson.industry.capitalize %></p>
      <p><%= current_user.bookings.first.start_time %></p>
   </div>
    <div class="videocall">
      <button><%= link_to "JOIN VIDEO", my_video_path  %></button>
    </div>
</div>

<div class="bookings-card">
  <h2>Your lessons</h3>

  <h3>Upcoming Lessons</h3>
  <% current_user.bookings.each do |booking| %>
    <% if Time.now >= booking.end_time %>  
    <p><%= booking.lesson.industry %></p>
    <% end %>
  <% end %>
  <h3>Past Lessons</h3>
  <% current_user.bookings.each do |booking| %>
    <% if Time.now < booking.end_time %>  
    <p><%= booking.lesson.industry %></p>
    <% end %>
  <% end %>
</div>



<div class="reports-card">
  <h2>Reports</h2>
  <%# if current_user.bookings. %>
  <% current_user.bookings.find_each do |booking| %> 
    <div class="report-card">
      <p><strong><%= booking.lesson.user.first_name %>
        <%= booking.lesson.user.last_name %></strong></p>
      <p><%= booking.lesson.industry.capitalize %></p>
      <p> <%#= booking.report.date %> </p>
    </div>
  <% end %>
</div>


