<h1>My Conversations</h1>

<%# This is a the data that will be used for the dasboard "menu" navbar  %>
<%= render 'my/menu' %>


<div class="conversations-container">
  <div class="contacts col-3">
    <ul>
      <% current_user.conversation_users.each do |user| %>
        <li><%= link_to user.first_name, my_conversations_path(user_id: user.id) %><%= @message.content %></li>
      <% end %>
    </ul>
  </div>

  <div class="conversation col-6">
    <h2 class="recipient-name"><img class="avatar" style="height:60px; width:60px;" src="<%= @user.image %>"/> <%=@user.full_name %><br><%= @user.city %>, <%= @user.country_code %></h2>
    
      <ul>
        <% @messages.each do |message| %>
          <li class="message"><%= message.sender.first_name %> : <%= message.content %></li>
        <% end %>
      </ul>

    <div class="message-form">
      <%= simple_form_for [@user, @message] do |f| %> 
        <%= f.input :content, placeholder: "Type message ..." %>
      <% end %>
    </div>
  </div>

  <div class="testing col-3">
    <p> Just some content for testing purposes </p>
  </div>
</div>

