<%= render 'my/menu' %>

<div class="container py-3">
  <div class="d-flex justify-content-around">
    <div class="contacts col-2">
      <ul>
        <% current_user.conversation_users.each do |user| %>
          <li><img class="message-avatar" style="height:40px; width:40px;" src="<%= user.image %>"/><%= link_to user.first_name, my_conversations_path(user_id: user.id) %><%= @message.content %></li>
        <% end %>
      </ul>
    </div>

    <div class="conversation col-8">
      <div class="recipient-card">
        <img class="meesage-avatar" style="height:80px; width:80px;" src="<%= @user.image %>"/>
        <div class="recipient-card-infos">
          <h2><%=@user.full_name %></h2>
          <p><%= @user.city %>, <%= @user.country_code %></p>
        </div>
      </div>
      
      <ul class="messages" id="messages-scrollbar">
        <% @messages.each do |message| %>
          <li class="message"><p><b><%= message.sender.first_name %></b> : <%= message.content %></p></li>
        <% end %>
      </ul>

      <div class="message-form">
        <%= simple_form_for [@user, @message] do |f| %> 
          <%= f.input :content, placeholder: "Type message ...", label: false %>
        <% end %>
      </div>
    </div>

    <%# Book another Lesson Section %>
    <div class="testing col-2">
      <%= link_to "Book another Lesson", "#", class: "btn btn-warning btn-lg mt-3 mb-3", 'data-toggle': "modal", 'data-target': "#myModal#{@user.lessons.last.id}" %>
      <%= render "lessons/modal", lesson: @user.lessons.last %>

      <%# Upcoming Lessons %>
      <h3>Upcoming Lessons</h3>
      <% current_user.bookings_with(@user).upcoming.each do |booking| %>
        <p> <%= booking.lesson.industry.capitalize %></p>
        <p> <%= booking.end_time %></p>
      <% end %>
      
      <%# Past Lessons %>
      <h3>Past Lessons</h3>
      <% current_user.bookings_with(@user).past.each do |booking| %>
        <p> <%= booking.lesson.industry.capitalize %></p>
        <p> <%= booking.end_time %></p>
      <% end %>
    </div>
  </div>
</div>
