<%= render 'my/menu' %>
<div class="container py-3">
  <% if @user.lessons.any? %>
    <div class="container py-3">
      <div class="d-flex justify-content-around">
        <div class="contacts pt-3 col-2">
          <ul>
            <% current_user.conversation_users.each do |user| %>
              <li><p><%= link_to user.first_name, my_conversations_path(user_id: user.id) %><%= @message.content %></p></li>
            <% end %>
          </ul>
        </div>

        <div class="conversation col-7">
          <div class="recipient-card">
            <img class="avatar-square" style="height:80px; width:80px;" src="<%= @user.image %>"/>
            <div class="recipient-card-infos">
              <h2><%=@user.full_name %></h2>
              <p><%= @user.city %>, <%= @user.country_code %></p>
            </div>
          </div>
          
          <ul class="messages" id="messages-scrollbar">
            <% @messages.each do |message| %>
              <li class="message"><p><b><%= message.sender.first_name %></b> : <%= message.content %></p></li>
            <% end %>
          </ul>

          <div class="message-form-wrapper">
            <%= simple_form_for [@user, @message], { html: {class: "message-form d-flex w-100"} } do |f| %> 
              <%= f.input :content, placeholder: "Type message ...", label: false, wrapper_html: {class: "mb-0 flex-grow-1"} %>
              <%= f.submit :>, :class => "btn"%>
            <% end %>
          </div>
        </div>

        <%# Book another Lesson Section %>
        <div class="testing col-3">
          <div class="d-flex justify-content-center">
            <%= link_to "Book a Lesson", "#", class: "btn btn-warning btn-lg mt-3 mb-3", 'data-toggle': "modal", 'data-target': "#myModal#{@user.lessons.last.id}" %>
            <%= render "lessons/modal", lesson: @user.lessons.last %>
          </div>

          <%# Upcoming Lessons %>
          <div class="booked-lessons mt-2 mb-4">
            <h5 class="mb-3"><strong>Upcoming Lessons</strong></h5>
            <% current_user.bookings_with(@user).upcoming.each do |booking| %>
              <p> <%= booking.lesson.industry.capitalize %> | <%= booking.end_time %></p>
            <% end %>
          </div>
          
          <%# Past Lessons %>
          <div class="booked-lessons">
            <h5 class="mb-3"><strong>Past Lessons</strong></h5>
            <% current_user.bookings_with(@user).past.each do |booking| %>
              <p> <%= booking.lesson.industry.capitalize %> | <%= booking.end_time %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <h3>You do not have any messages yet</h3>
    <% end %>
  </div>
</div>
