<h4 class="text-center"><strong>My Experience</strong></h4>
<p> <%= lesson.description %> </p>
<h4 class="text-center"><strong>How It Works</strong></h4>
<p>
  The classic duration of a lesson is <strong>30 minutes</strong>.
  This includes :
    <ul>
      <li><strong>25 minutes</strong> of mockup interview, discussing basic interview subjects</li>
      <li><strong>5 minutes</strong> of live feedback, quickly pointing out what went very well and things to work on before next lesson (if need)</li>
      <li>A detailed report will be given to you after the lesson. Usually in the same day as the lesson.</li>
    </ul>
  The report will mainly contain what we discussed during the 5 minutes feedback, but with more details. I'll add resources to help you practice and improve your skills.
</p>
<h4 class="text-center"><strong>Reviews</strong>(14)</h4>
<p>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star-half" aria-hidden="true"></i>
</p>
<p> <%= lesson.user.first_name %> has helped me so much in nailing the interview and getting my dream job. Thanks, coach!</p>
<p>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
</p>
<p> <%= lesson.user.first_name %> was very attentive and helped me a lot. He pointed out everything that I needed to work on and gave me a lot of resources to help me work on them.</p>
<p>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
</p>
<p> <%= lesson.user.first_name %> takes a lot of his time to help you improve your interview skills. The report he sent me after our first leson was very detailed and everything that I needed was there.</p>
<p>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
</p>
<p> It's insane that in only two lessons, <%= lesson.user.first_name %> succeeded in helping get my dream job. He's awesome, I highly recommend him !</p>