<div class="d-flex w-100">
  <div>
    <img style="border-radius:50%; height:100px; width:100px;" src="<%= lesson.user.image %>">
  </div>

  <div class="flex-grow-1">
    <h2><strong> <%= lesson.user.first_name %> <%= lesson.user.   last_name %> </strong></h2>
    <h3> <%= lesson.industry.capitalize %> </h3>
  </div>

  <div>
    <div><%= lesson.price_display %>
    </div>
    <div><%= lesson.user.city %>, <%= lesson.user.country_name %>
    </div>
  </div>
</div>


  