<div class="d-flex w-100">
  <div>
    <img class="avatar" style="height:100px; width:100px;" src="<%= lesson.user.image %>">
  </div>

  <div class="coach-infos flex-grow-1 mr-3 mt-4 ml-3">
    <h3><strong> <%= lesson.user.first_name %> <%= lesson.user.   last_name %> </strong></h3>
    <h5> <%= lesson.industry.capitalize %> </h5>
  </div>

  <div class="lesson-infos mr-3 mt-4">
    <div class="price"><h4><strong><%= lesson.price_display %></strong></h4>
    </div>
    <div class="location"><h5><%= lesson.user.city %>, <%= lesson.user.country_name %></h5>
    </div>
  </div>
</div>
