<%# This is a the data that will be used for the dasboard "menu" navbar  %>
<%= render 'my/menu' %>
<div class="container mt-4">
  <div class="d-flex justify-content-flex-start">
    <div class="bookings-card p-2">
      <div class="text-center border-bottom pb-1 mb-4">
        <h4 class="pt-3">Next Lesson</h4>
      </div>
      <div class="booking">
        <% if @upcoming_booking %>
          <div class="d-flex justify-content-between border-bottom p-3 text-center">
            <div class="ml-3">
              <img class="avatar-next-lesson mb-2" src=<%= @upcoming_booking.user.image %>>
              <h5><%= @upcoming_booking.user.first_name %></h5>
            </div>

            <div class="text-center mr-3 position-relative">
              <%= image_tag "coach.png", :class => "booking-coach" %>
              <img class="avatar-next-lesson" src=<%= @upcoming_booking.lesson.user.image %>>
              <h5><%= @upcoming_booking.lesson.user.first_name %></h5>
            </div>
          </div>

          <div class="upcoming-booking-info mt-5 mx-5 text-center">
            <h4><%= @upcoming_booking.lesson.industry.capitalize %> Interview</h4>
            <h5><%= @upcoming_booking.start_time.strftime("%B %d, %Y") %></h5>
            <h5><%= @upcoming_booking.start_time.strftime("%I:%M %p") %></h5>
          </div>

          <div class="videocall text-center py-3">
            <%= link_to "Join Classroom", my_video_path(booking_id: @upcoming_booking.id), :class => "btn" %>
          </div>

        <% else %>
          <p>You do not have any upcoming lessons</p>
        <% end %>
      </div>
    </div>

      <div class="bookings-card p-2 mb-4">
        <div class="text-center border-bottom pb-1 pt-3">
          <h4 class="">Upcoming Lessons</h4>
        </div>
        
        <% @upcoming_bookings.each do |booking| %>
          <% if booking.lesson.user == current_user %>
            <%# lessons I'm coaching %>
            <div class="booking-card-coach m-3">
              <p class="coaching-indicator">Coaching</p>
              <div class="d-flex justify-content-between">
                <img class="avatar-next-lessons" src=<%= booking.user.image %>>
                <div>
                  <p><strong><%= booking.user.full_name %></strong></p>
                  <p><%= booking.lesson.industry.capitalize %></p>
                </div>
                <div>
                  <p><%= booking.start_time.strftime("%B %d, %Y") %></p>
                  <p><%= booking.start_time.strftime("%I:%M %p") %></p>
                </div>
                </div>
              </div>

          <% else %>
            <div class="booking-card m-3 d-flex justify-content-between">
            <%# lessons I'm taking %>
              <img class="avatar-next-lessons" src=<%= booking.lesson.user.image %>>
              <div>
                <p><strong><%= booking.lesson.user.full_name %></strong></p>
                <p><%= booking.lesson.industry.capitalize %></p>
              </div>
              <div>
                <p><%= booking.start_time.strftime("%B %d, %Y") %></p>
                <p><%= booking.start_time.strftime("%I:%M %p") %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="bookings-card p-2 mb-4">
        <div class="text-center border-bottom pb-1">
          <h4 class="pt-3">Past Lessons</h4>
        </div>

        <%@past_bookings.each do |booking| %>
          <%#= render "bookings/past", booking: booking %>

          <% if booking.lesson.user == current_user %>
            <div class="booking-card-coach m-3">
              <div class="d-flex justify-content-between">
                <img class="avatar-next-lessons" src=<%= booking.user.image %>>
                <div>
                  <p><strong><%= booking.user.full_name %></strong></p>
                  <p><%= booking.lesson.industry.capitalize %></p>
                </div>
                <div>
                  <p><%= booking.start_time.strftime("%B %d, %Y") %></p>
                  <p>Rating: <strong><%= booking.report&.rating %></strong> / 10</p>
                </div>
              </div>
              <div class="text-center">
                <% if booking.report == nil %>
                  <%= link_to "Create Report", new_booking_report_path(booking), :class => 'btn-secondary' %>
                <% else %>
                  <%= link_to "View Report", my_reports_path(report_id: booking.report), :class => 'btn-secondary' %>
                <% end %>
              </div>
            </div>
            
          <% else %>
            <div class="booking-card m-3">
              <div class="d-flex justify-content-between">
                <img class="avatar-next-lessons" src=<%= booking.lesson.user.image %>>
                <div>
                  <p><strong><%= booking.lesson.user.full_name %></strong></p>
                  <p><%= booking.lesson.industry.capitalize %></p>
                </div>
                <div>
                  <p><%= booking.start_time.strftime("%B %d, %Y") %></p>
                  <p>Rating: <strong><%= booking.report&.rating || "-" %></strong> / 10</p>
                </div>
              </div>
              <div class="text-center">
                <% if booking.report == nil %>
                  <p class="text-center"><%= "No Report" %></p>
                <% else %>
                  <%= link_to "View Report", my_reports_path(report_id: booking.report), :class => 'btn-secondary' %>
                <% end %>
              </div>
          </div>
        <% end %>
      <% end %>

  </div>
</div>
</div>