<div class="d-flex pt-2 position-relative">
  <div class="call-to-action">
    <p><strong>Interviews</strong> are stressful...<p>
    <p>But they don't need to be!</p>
    <p>Hire a <strong>Coach</strong>, and get</p>
    <p>interviewed the</p>
    <p><strong>right way.</strong>
  <div class="container border border-primary" id="home-search">
    <% if user_signed_in? %>
    <%#= link_to "Browse all lessons", lessons_path, class: "btn btn-flat" %>
    
    <%#= f.select :lesson, ['option1', 'option2']%>
    <%#= f.collection_select :provider_id, Provider.order(:name),:id,:name, include_blank: true %>
    <div class="form-group">
      <label>Search By Industry</label>
      <select class="form-control" id="sel1">
      <% Lesson::INDUSTRIES.each do |industry| %>
        <option><%= link_to industry.titleize, lessons_path(industry: industry) %></option>
      <% end %>
      </select>
    </div>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-flat" %>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-flat" %>
    <% end %>
</div>
</div>

  <%= image_tag "concisely_banner.jpg", :class => "banner" %>

</div>

<div class="d-flex w-75 justify-content-around home-cards">
  <div class="home-card"> 
    <%= image_tag "home_why.jpg", :class => "home-card-img" %> 
    <h1>WHY?</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero debitis consequuntur esse, amet quo adipisci? Quis doloribus asperiores, assumenda ea dolore itaque necessitatibus amet minima obcaecati nesciunt, quod tempore harum?</p> 
  </div>
  <div class="home-card">
    <h1>WHO?</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero debitis consequuntur esse, amet quo adipisci? Quis doloribus asperiores, assumenda ea dolore itaque necessitatibus amet minima obcaecati nesciunt, quod tempore harum?</p> 
    <%= image_tag "home_who.png", :class => "home-card-img" %> 
  </div>
  <div class="home-card">
    <%= image_tag "home_how.png", :class => "home-card-img" %> 
    <h1>HOW?</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero debitis consequuntur esse, amet quo adipisci? Quis doloribus asperiores, assumenda ea dolore itaque necessitatibus amet minima obcaecati nesciunt, quod tempore harum?</p> 
  </div>
</div>


