<div class="container container-customize">
  <div class="d-flex position-relative justify-content-end">
    
    <div class="call-to-action">
      <p class="first-sentence"><strong>Interviews</strong> are stressful...
      But they don't need to be!<p>
      <h1 class="second-sentence">Hire a <span>Coach</span>, and get<br>
      interviewed the<br>
      <span>right way.</span></h1>
    
      <div class="container" id="home-search">

      <% if user_signed_in? %>

        <div class="dropdown dropdown-customize">
          <button class="btn dropdown-toggle hero-button-customize" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <strong style="font-size: 16px;">Search By Industry</strong>
          <%# <i class="fas fa-search-plus" style="font-size: 16px;"></i> %>
          </button>

          <div class="dropdown-menu dropdown-menu-customize" aria-labelledby="dropdownMenuButton">
            <% Lesson::INDUSTRIES.each do |industry| %>
              <li class="dropdown-item dropdown-item-customize">
              <%= link_to industry.titleize, lessons_path(industry: industry) %>
              </li>
            <% end %>
          </div>
        </div>

      <% else %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-flat" %>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-flat" %>
      <% end %>
      </div>
    </div>
    <%= image_tag "concisely_banner.jpg", :class => "banner" %>
  </div>
</div>

    
<div class="container">
  <div class="d-flex justify-content-between home-cards">
    <div class="home-card"> 
      <%= image_tag "home_why.jpg", :class => "home-card-img" %> 
      <h1>WHY?</h1>
      <p>Interviews are stressful, and sometimes, we spend countless hours thinking about what we are going to say.</p>
       <%# Then we practice scripted lines with family and friends. This method provides us with false feedback and doesn't allow us to track actual progress. %>
    </div>
    <div class="home-card">
      <h1>WHO?</h1>
      <p>Our coaches come from a diverse range of industries to provide you with practical information for whatever career you are seeking.</p>
       <%# Our vetting requirements not only ensures our coaches are experienced but also that they understand exactly what employers are looking for. %>
      <%= image_tag "home_who.png", :class => "home-card-img" %> 
    </div>
    <div class="home-card">
      <%= image_tag "home_how.png", :class => "home-card-img" %> 
      <h1>HOW?</h1>
      <p>You hire a coach, attend a lesson that simulates a real interview, and receive feedback so you can practice until you feel confident !</p>
      <%# <p>We provide a platform that is a one stop shop! This is how it works. You hire a coach, attend a lesson that simulates a real interview, recieve a feedback report, practice, and then repeat until you are confident!</p> %>
    </div>
  </div>
  <h3 class="catch-phrase">Concisely is <span>your</span> one stop shop ! </h3>
</div>

