<div class="card-product card-customize">
  <img class="avatar-square" style="height:100px; width:100px;" src="<%= lesson.user.image %>" />
  <div class="card-product-infos">
    <h2><strong> <%= lesson.user.first_name %> <%= lesson.user.last_name %> </strong></h2>
    <h3> <%= lesson.industry.capitalize %> </h3>
    <p></p>
    <span>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </span>
    <span><%= lesson.price_display %></span>
    <span><%= lesson.user.city %>, <%= lesson.user.country_name %></span>
  </div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal<%= lesson.id %>">
    View Profile
  </button>
</div>

  <!-- Modal -->
<div class="modal fade" id="myModal<%= lesson.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Coach's Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img style="border-radius:50%; height:100px; width:100px;" src="<%= lesson.user.image %>" />
        <div class="card-product-infos mb-3">
          <h2><strong> <%= lesson.user.first_name %> <%= lesson.user.last_name %> </strong></h2>
          <h3> <%= lesson.industry.capitalize %> </h3>
          <span><%= lesson.price_display %></span>
          <span><%= lesson.user.city %>, <%= lesson.user.country_name %></span>
        </div>
        <div class="card-description mb-3">
          <h2><strong>My Experience</strong></h2>
          <p> <%= lesson.description %> </p>
          <h2><strong>How It Works</strong></h2>
          <p>My lessons are 20 minutes which includes a 15 minute mock up interview and 5 minutes of feedback.</p>
          <h2><strong>Reviews</strong>(14)</h2>
          <span>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half" aria-hidden="true"></i>
          </span>
          <p>My coach has helped me so much in nailing the interview and getting my dream job. Thanks, coach!</p>
          <span>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </span>
          <!-- <div id="star-rating">
            <%# if not lesson.no_of_stars.blank? %>
              Star rating: <%#= product.no_of_stars %>
            <%# else %>
              <%#= link_to 'Please add a Review',{ controller: 'reviews', action: 'new', id: product.id } %>
            <%# end %>
          </div> -->
          <div class="booking mt-3 mb-3">
            <h2><strong>Availability</strong></h2>
            <p>
            <h2><strong>Book a Lesson</strong></h2>
            <%= render partial: "booking-form-modal", locals: { lesson: lesson, booking: Booking.new } %>
          </div>
          <div id="contact">
            <h3><strong>Message Coach</strong></h3>
            <%= render partial: "messaging_section_modal", locals: { user: lesson.user, message: Message.new } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
