<h1 class="titles">EDIT LESSON</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
      <div class="form-inputs"> 
        <%= simple_form_for(@lesson) do |f| %>
          <%= f.input :description, :placeholder => '-> describe your lesson' %>
          <%= f.input :industry, :placeholder => '-> select an industry' %>
          <%= f.input :price, :placeholder => '-> in $ per hour' %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
