<%= render 'my/menu' %>
<%# This is a the data that will be used for the dasboard "menu" navbar  %>
<div class="container py-3">
  <% if @report %>
    <div class="d-flex">
      <div class="reports-list">
        <% @reports.each do |report| %>
          <div class="report-link-card m-2">
            <div class="report-link-card-infos d-flex justify-content-between">
              <img class="avatar-small" src=<%= report.booking.lesson.user.image %>>
              <div class="report-link-name-industry">
                <p><strong><%= report.booking.lesson.industry %></strong></p>
                <p><%= report.booking.lesson.user.full_name %></p>
              </div>
              <div class="text-right">
                <p><%= report.rating %></p>
                <p><%= report.date %></p>
              </div>
            </div>
            <div class="text-center">
              <%= link_to "View Report", my_reports_path(report_id: report.id), :class => 'btn-secondary' %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="report-card">
        <div class="report-infos">
          <div class="d-flex justify-content-between">
            <p><strong><%= @report.booking.lesson.industry %></strong></p>
            <p>Overall rating: <%= @report.rating %></p>
          </div>
          <div class="d-flex justify-content-between border-bottom mb-2">
            <p><%= @report.booking.lesson.user.full_name %></p>
            <p><%= @report.booking.user.full_name %></p>
          </div>
        </div>
          <p><%= @report.content %></p>
      </div>
    </div>
  <% else %>
    <h3>You do not have any reports yet</h3>
  <% end %>
</div>
