<%= render 'my/menu' %>
<%# This is a the data that will be used for the dasboard "menu" navbar  %>
<div class="container py-3">
  <h1>My Reports</h1>

  <div class="reports-list">
    <% @reports.each do |report| %>
      <div class="report-link-card">
        <img class="avatar-small" src=<%= report.booking.lesson.user.image %>>
        <div class="report-link-name-rating">
          <p><%= report.booking.lesson.industry %></p>
          <p><%= report.rating %></p>
        </div>
        <div>
          <p><%= report.booking.lesson.user.full_name %></p>
          <p><%= report.date %></p>
        </div>
        <%= link_to "View Report", my_reports_path(report_id: report.id) %>
      </div>
    <% end %>
  </div>

  <div class="report-card">
    <div class="report-infos">
      <div class="d-flex justify-content-between">
        <p><strong><%= @report.booking.lesson.industry.capitalize %></strong></p>
        <p>Overall rating: <%= @report.rating %></p>
      </div>
      <div class="d-flex justify-content-between border-bottom mb-2">
        <p><%= @report.booking.lesson.user.full_name %></p>
        <p><%= @report.booking.user.full_name %></p>
      </div>
    </div>
      <p><%= @report.description %></p>
  </div>
</div>
