<h1>New Report</h1>

<div class="container w-50">
  <%= simple_form_for [ @booking, @report ] do |f| %>
    <%= f.input :date, as: :date, html5: true, :input_html => { :class => 'form-inline w-25' } %>
    <%= f.input :rating, label: "Rating / 10", :input_html => { :class => 'form-inline w-25' } %>
    <%= f.input :content, as: :rich_text_area, :input_html => { :class => "h-50" } %>
    <%= f.submit "Create Report", class: "btn btn-primary" %>
  <% end %>
</div>