<h1>My Report</h1>

<div class="reports-card">
  <p><strong>Coach: </strong><%= @report.booking.lesson.user.first_name  %> <%=  @report.booking.lesson.user.last_name  %></p>
  <p><strong>Date: </strong><%= @report.date %></p>
  <p><strong>Rating: </strong><%= @report.rating %> / 10</p>
  <p><strong>Description: </strong><%= @report.description %></p>
</div>

<button><%= link_to "Back to Dashboard", my_dashboard_path %></button>

<div class="reports-card">
<h3>Other Reports</h3>
  <% @bookings.each do |booking| %>
    <% unless booking.report == nil %>
      <div class="container border border-dark">
      <p><%= booking.report.date %></p> 
      <button><%= link_to "View Report", report_path(booking.report) %></button>
      </div>
    <% end %>
  <% end %>
</div>
