<div class="report-card">
  <p><strong>Coach: </strong><%= @report.booking.lesson.user.first_name  %> <%=  @report.booking.lesson.user.last_name  %></p>
  <p><strong>Date: </strong><%= @report.date %></p>
  <p><strong>Rating: </strong><%= @report.rating %> / 10</p>
  <p><%= @report.content %></p>
  <div class="report-card-image">
    <img style="border-radius:75%; height:75px; width:75px;" src="<%= @report.booking.lesson.user.image %>"/>
  </div>
</div>

<div class="container text-center">
<button><%= link_to "Back to Dashboard", my_bookings_path %></button>
</div>
