<p>Menu Navbar</p>

<%= link_to "Lessons", my_bookings_path %>
<%= link_to "Reports", my_reports_path %>
<%= link_to "Messages", my_conversations_path %>
<%= link_to "Payments", my_payments_path %>
<%= link_to "Coaching", my_lessons_path %>
