<!DOCTYPE html>
<html>
  <head>
    <title>Concisely</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/@daily-co/daily-js"></script>
  </head>

  <body>
    <div id="page-container">
      <%= render "layouts/navbar" %>
        <%# <div style="height:80px; width:100%"></div> %>
      <p class="notice description"><%= notice %></p>
      <p class="alert description"><%= alert %></p>
      <div id="content-wrap">
      <%= yield %>
      </div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
